/*

*/
.about__havana {
    color: var( --title-color);
    background-color: var(--dark-accent-color);
    font-size: 40px;
    line-height: 1.143;
    letter-spacing: .03em;
    text-align: right;
    display: block;
}
   
.greenery_picture {
    box-sizing: border-box;
    display: block;
    font-family: Roboto, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 25.5px;
    max-width: 100%;
    min-height: 32px;
    padding-top: 309.49px;
    position: relative;
    text-align: left;
    width: 363px;
    
}
 


.greenery picture {
    display: block;
    position: relative;
    max-width: 100%;
    padding-top: 85.26%;
    font-size: 17px;
    font-weight: 400;
    text-align: left;
    gap: 5px;
    height: 100%;
    font-family: Roboto,sans-serif;
    
}


.partners {
    background-color: var(--dark-accent-color);

.line__after__partners {
    display: block;
    max-width: 375px;
    margin: auto;
    margin-top: 25px;
}
.title_partners {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--dark-accent-color);
    font-family: BenchNine,sans-serif;
    font-weight: 700, 400;
    min-width: 320px;
    padding: 90px 0px 90px 0px;
    line-height: 1.5;
    color: var( --title-color);
}