/*

*/

.about__havana {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;

}

.about__havana {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--dark-accent-color);
    font-family: BenchNine,sans-serif;
    font-weight: 700, 400;
    min-width: 320px;
    padding: 90px 0px 90px 0px;
    line-height: 1.5;
}