.contacts {
    background: url(../img/contacts_block_background.webp);
    padding-top: 95px;
    padding-bottom: 100px;
    padding-left: 24px;
    padding-right: 24px;
}

.contacts__info-container {
    text-align: left;
}

.contacts__container-title{
    color: var(--title-color);
    font-family: 'BenchNine';
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 1.2px;
}

.contacts__img-container {
    margin-top: 20px;
}

.contacts__large-text {
    color: var(--text-color);
    font-family: "Roboto";
    line-height: 28.5px;
    font-size: 19px;
    font-weight: 400;
    margin-top: 20px;
}

.information__title {
    color: var(--title-color);
    font-family: 'BenchNine';
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.66px;
    margin-top: 20px;
}

.information-contacts {
    color: var(--text-light-color);
    font-family: "Roboto";
    font-size: 17px;
    font-weight: 400;
    margin-top: 5px;
    line-height: 25.5px;
}

.contacts__map {
    margin-top: 20px;
}

.map {
    width: 100%;
}

.contacts__form-container {
    margin-top: 50px;
    padding: 39px 55px;
    background-color: var(--dark-accent-color);
}

.contacts__form {
    display: flex;
    flex-direction: column;
}

.contacts__input {
    padding: 14px 20px;
    margin: 12px 0px 24px;
    background-color: rgb(36, 36, 36);
    color: rgba(255, 255, 255, 0.65);
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    border: none;
    text-overflow: ellipsis;
}

.contacts__input-message {
    height: 150px;
    resize: none;
}

.contacts__input-btn {
    margin-top: 25px;
    padding: 14px 20px;
    background-color: var(--title-color);
    color: var(--text-light-color);
    font-family: "BenchNine";
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1.28px;
    border: none;
    transition: 0.3s;
    
}

.contacts__input-btn:hover {
    background-color:#3f3229;
    cursor: pointer;
    transition: 0.3s;
}

@media (min-width: 810px) {
    .contacts__container-title {
        font-size: 40px;
    }

    .information__title {
        font-size: 26px;
        padding: 8px 30px 8px 0px;
    }

    .information-contacts {
        padding: 8px 0px 8px 30px;
    }

    .map {
        height: 300px;
    }
    .contacts {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 100px;
    }

    .contacts__form-container {
        margin: 0px 50px;
        width: auto;
    }

    .contacts__information {
        display: flex;
    }

}
