/* Cooperation with us by Євген */
.cooperation {
    background-image: url(../img/cooperation-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left 70% top 70%;
    background-attachment: fixed;
    padding-bottom: 90px;
    padding-top: 50;
    padding-bottom: 50;
}
.cooperation_content{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.cooperation_title_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
    padding-bottom: -10px; 
    padding-left: 15px;
    padding-right: 15px;
}
.cooperation_title{
    font-family: 'BenchNine', sans-serif;
    color: var(--title-color);
    text-align: center;
    font-size: 46px;
    font-weight: 700;
    letter-spacing: .032em;
    line-height: 38.86px;
}
.cooperation_title_line{
    display: block;
    max-width: 375px;
    margin: auto;
    margin-top: 25px;
}
.cooperation_title_text{
    display: block;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-weight: 400;
    color: var(--text-color);
    text-align: center;
    line-height: 28.5px;
    margin-top: 20px;
    height: 57px;
    width: 770px;

}
.coopertion_content_control{
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-wrap: wrap;
}
.experience{
    display: block;
    font-size: 17px;
    font-weight: 400;
    line-height: 25.5px;
    text-align: center;
    vertical-align: baseline;
}
.img_experience{
    justify-content: center;
    width: 70px;
    height: 70px;
    padding: 15px;
    background-color: #212020;
    border-radius: 60px     
}
.cooperation_title-discr{
    font-family: 'BenchNine', sans-serif;
    font-weight: 700;
    position: relative;
    margin-top: 20px;
    color: var(--title-color);
}
.content_discription{
    margin-top: 20px;
    font-size: 17px;
    height: 50px;
    color: var(--text-light-color);
    display: block;
    box-sizing: border-box;
    height: 51px;
    width: 370px;
}
.content_broad_variety {
    font-size: 17px;
    font-weight: 400;
    line-height: 25.5px;
    text-align: center;
    vertical-align: baseline;
}
.img_broad_variety{
    justify-content: center;
    width: 70px;
    height: 70px;
    padding: 15px;
    background-color: #212020;
    border-radius: 60px     
}
.content_skilled_staff{
    font-size: 17px;
    font-weight: 400;
    line-height: 25.5px;
    text-align: center;
    vertical-align: baseline;
}
.img_skilled_staff {
    justify-content: center;
    width: 70px;
    height: 70px;
    padding: 2px;
    background-color: #212020;
    border-radius: 60px 
}
