.faq {
    background-color: var(--dark-accent-color);
    padding-top: 95px;
    padding-bottom: 100px;    
}
.faq__header {
    text-align: center;
    
}

.faq__title {
    color: var(--title-color);
    font-size: 34px;
    font-weight: 700;
    letter-spacing: 1.2px;
}

.faq__img-container {
    margin-top: 20px;
}

.faq__line {
    height: 32px;
    max-width: 100%;
    min-width: 320px;
}

.faq__title-text {
    font-family: 'Roboto';
    font-size: 19px;
    font-weight: 400;
    line-height: 28.5px;
    color: var(--text-color);
    margin: 20px;
}

.faq__accordion {
    margin-top: 20px;
}

.faq__accordion-container {
    padding: 20px;
}

.faq__accordion-container::after {
    content: "";
    width: 80%;
    height: 0.5px;
    margin: 20px;
    position: absolute;
    background-color: var(--text-light-color);
    opacity: 0.2;
}

.faq__question {
    font-size: 22px;
    font-weight: 700;
    color: var(--title-color);
    letter-spacing: 0.66px;
    cursor: pointer;
}

.faq__answer {
    margin-top: 20px;
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 400;
    line-height: 25.5px;
    color: #fff;
}

@media (min-width: 800px) {
    .faq__header {
        margin: 0px 150px;
    }
    
    .faq__accordion-container {
        margin: 0px 150px;
    }

    .faq__accordion-container::after {
        width: 75%;
    }

    .faq__title {
        font-size: 46px;;
    }

    .faq__question {
        font-size: 26px;
    }
}