/*history by Bilusiak */

.history {
    background-color: #1b191a;
    font-family: BenchNine,sans-serif;
    font-weight: 700, 400;
}

.history__header {
    display: grid;
    justify-items: center;
   
}

.history__name {
    color: #c5a35c;
    font-size: 46px
    
    
}

.history__line {
    width: 100%;
    height: 100%;
    min-width: 320px;
}

.history__title {
    color: #d0c8b9;
    font-size: 19px;
}

.history__date {
    font-weight: 700;
    color: #c5a35c;
    font-size: 24px;
}

.history__descr {
    color: #ffff;
    font-size: 17px;
}

.history__button {
    color: #ffff;
    text-decoration: none;
}


