/*history by Bilusiak */

.history {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--dark-accent-color);
    font-family: BenchNine,sans-serif;
    font-weight: 700, 400;
    min-width: 320px;
    padding: 90px 0px 90px 0px;
    line-height: 1.5;
}

.container__history {
    padding: 0px 24px;
    display: block;
    width: 100%;
    max-width: 1100px;
    justify-content: space-evenly;
}

.container__history img {
    width: 100%;
    height: 100%;
    
}

.history__header {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
   
}

.history__name {
    color: var( --title-color);
    font-size: 34px;
    
    
}

.history__line {
    object-fit: contain;
    width: 100%;
    height: 100%;
    min-width: 320px;
}

.history__title {
    color: var(--text-color);
    font-size: 19px;
    font-family: Roboto,sans-serif;
}

.history__container-info {
    display: grid;
}

.history__founders, .history__rising, .history__contracts, .history__new-brands {
    display: flex;
    gap: 5px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 15px;
    margin: auto;
    font-family: Roboto,sans-serif;
    font-size: 17px
}

.history__date {
    font-weight: 700;
    color: var(--title-color);
    font-size: 100%;
    align-self: flex-start;
}

.history__descr {
    color: var(--text-light-color);
    font-size: 17px;
}

.history__button {
    display: flex;
    color: var(--text-light-color);
    text-decoration: none;
    justify-content: center;
    border-style: solid;
    border-width: 2px;
    padding: 5px;
}

.history__btn {
    display: flex;

    justify-content: center;
}

@media (min-width:560px) {
    .history__container-info {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:780px) {
    .history__container-info {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width:960px) {
    .history__container-info {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}


