.pricing{
    min-width: 320px;
    background-image: url(../img/pricing_sigars.jpeg);
    background-size: cover;
    background-attachment: fixed;
}
.pricing-bg {
    background-color:rgba(0,0,0,.7);
    padding-top: 90px;
    padding-bottom: 90px;
}
.pricing-header__h2 {
    color: var(--title-color);
    font-size: 46px;
    font-family:'BenchNine', sans-serif;
    line-height: 1.143;
    font-weight: 700;
    letter-spacing: .03em;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
}
.pricing-header-img{
    max-width: 100%;
    min-width: 320px;
    height: 32px;
    display: block;
    margin: 0 auto;
}
.pricing-header__text {
    color: var(--text-color);
    font-size: 17px;
    font-family:'Roboto', sans-serif;
    line-height: 1.5;
    text-align: center;
    justify-content: center;
    font-weight: 400;
    letter-spacing: .03em;
    margin-top: 5px;
    padding: 10px 10px 10px 10px;
}
.pricing-cards {
   margin-left: 25px;
}
.pricing-cards__item {
    width: 90%;
    height: 100%;
    background-color:rgba(33, 32, 32, 0.52);
    margin-top: 30px;
    text-align: center;
    justify-content: center;
}
@media(min-width:800px) {
    .pricing-cards__item {
        display: flex;
        width: 80%;
        height: 120px;
        text-align: center;
        margin-left: 140px;
        margin-bottom: 20px;
        justify-content: space-around;
    }
}
.pricing-card__img {
    margin-top: 20px;
    width: 50px;
    height: 50px;
}
@media(min-width:800px){
    .pricing-card__img {
        margin-top: 25px;
        width: 70px;
        height: 70px;
    }
}
.pricing-cards__h3 {
    color: var(--title-color);
    font-size: 40px;
    font-family:'BenchNine', sans-serif;
    line-height: 1.143;
    font-weight: 700;
    letter-spacing: .03em;
    margin-bottom: 10px;
    margin-top: 30px;
    max-width: 100%;
}
.pricing-cards__h4 {
    color: var(--text-light-color);
    font-size: 17px;
    margin-top: 40px;
    font-family:'Roboto', sans-serif;
    font-weight: 400;
}
.pricing-cards__text {
    color: var(--text-color);
    text-align: center;
    font-size: 18px;
    font-family: 'BenchNine', sans-serif;
    line-height: 1.4375;
    font-weight: 600;
    letter-spacing: 0;
    margin-top: 40px;
}
.pricing-cards__span {
    color: var(--title-color);
    text-align: center;
    font-size: 22px;
    font-family: 'BenchNine', sans-serif;
    line-height: 1.4375;
    font-weight: 700;
    letter-spacing: 0;
    margin-top: 40px;
}
.pricing-cards__btn {
    color: var(--text-color);
    font-size: 18px;
    font-family: 'BenchNine', sans-serif;
    width: 80px;
    height: 50px;
    line-height: 50px;
    background-color: var(--title-color);
    margin-top: 40px;
    border: 0;
    margin-bottom: 30px;
}
.pricing-cards__btn:hover {
    background-color: rgb(45, 34, 13);
    transition: all .25s ease;
}